# Python compiled files
*.py[cod]

# Possible virtual environment directory or symlink
virtualenv/
virtualenv

# Database - allow either as extension.
*.db
*.sqlite

# Local configuration files
etc/*.local.*

# Log files
app/var/*/*.log*
