@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* still go through this to see what effect is has on menu and overall page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #efefef;
}


body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

header {
    background-color: #673AB7;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;

    overflow: hidden;
}


header h1 {
    float: left;
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
}

header a {
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #F05283;
}

/*Style the menu

 Note that the ul and ul li formatting could be applied to form sections and form
 elements to get them to flow, but this can get messy to manage so for now
 stick to vertical layout.
*/
ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
}

ul a {
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active {
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li {
    display: inline-block;
}


.main-content {
    margin-bottom: 25px;
}


footer {
    background-color: #673AB7;

    box-sizing: border-box;
    text-align: center;
    width: 100%;

    position: fixed;
    padding: 5px;
    bottom: 0;
}

footer a {
    color: #eee;
}


/*Mobile settings*/
@media (max-width: 1000px) {

    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }
}

